body {
    max-width: 1024px;
    align-content: center;
    margin-left: 10%;
    width: 100%;
    background-color: #59d1fb;
    color: black;
    font-size: 135%;
}

header {
    text-align: left;
    font-size: large;
    }
     
    img {
   width: 35%;
    border-radius: 50%;
    float: right;
    margin-right: 10%;
    box-shadow: 0 0 10px
}
       
    }
